<h3>Register User</h3>
<br/>

<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName" name="firstName">
    </div>
    <br/>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastName" name="lastName">
    </div>
    <br/>

    <div class="form-group">
      <label for="name">Email Id</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="user.email" name="emailId">
    </div>

    <br/>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<br />

<div [hidden]="!submitted">
  <h4>You registered successfully!</h4>
</div>
